*,
body {
	margin: 0;
	padding: 0;
	user-select: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
option:focus {
	outline: none;
}

::-webkit-scrollbar {
	width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background-color: rgb(127 38 38);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(153 28 28);
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}