*,
body {
	margin: 0;
	padding: 0;
	user-select: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
option:focus {
	outline: none;
}

::-webkit-scrollbar {
	width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background-color: rgb(127 38 38);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: rgb(153 28 28);
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.table-excel {
	display: table;
	background: #fff;
}

.table-excel tr {
	border: 1px solid #991c1c;
}

.table-excel tr th,
.table-excel tr td {
	border-color: #991c1c;
	border-right-width: thin;
	padding: 2px 5px;
}

.table-excel tr td.center {
	text-align: center;
}

.table-excel tr td button.btn-icon {
    width: 14px;
}

.table-excel tr td svg {
    width: 16px;
	margin: 0 auto;
	cursor: pointer;
}

.table-excel tr td svg,
.table-excel tr td button.btn-icon > svg {
    fill: #991c1c;
}